/***************
    Variables
****************/
/*  Colors  */
/*  Gradients  */
/*  Typography  */
/*  Utility Classes  */
.container {
  margin: 0 10em 2em 10em;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.center {
  text-align: center;
}

.clip {
  overflow: hidden;
}

.w-5 {
  width: clamp(45%, 50%, 55%);
}

.m-0 {
  margin: 0;
}

.pt-4 {
  padding-top: 9em;
}

.mobile {
  display: none;
}

.flow {
  flex-flow: wrap;
}

/***************
  Global Styles
****************/
body {
  all: unset;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #F6F6F6;
  overflow-x: hidden;
}

/***************
  Components
****************/
/*  Buttons  */
.btn {
  background-color: white;
  color: #ff525d;
}
.btn, .btn--outline {
  border-radius: 1.5em;
  width: 6.5em;
  padding: 0.7em 1em;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  font-family: "Ubuntu";
}
.btn:hover {
  cursor: pointer;
  background-color: #ff7a85;
  color: white;
}
.btn--outline {
  border: 1px solid white;
  color: white;
  margin-left: 0.5rem;
}
.btn--outline:hover {
  cursor: pointer;
  background-color: white;
  color: #ff7a85;
}

/***************
  Header Styles
****************/
.cta {
  background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(to right, #ff8f70, #ff3d54);
  background-size: 205%, 100%;
  background-position: -19.75em -73em, 0 0;
  border-bottom-left-radius: 3rem;
  padding-bottom: 7em;
}
.cta_heading, .cta_subheading {
  font-family: "Overpass";
  color: white;
  text-align: center;
}
.cta_heading {
  margin-bottom: 0.25em;
  font-size: 3.45rem;
}
.cta_subheading {
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: 300;
  font-size: 1rem;
}
.cta_btn--container {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3em;
  margin-bottom: 4rem;
}
.navbar_logo {
  width: 5.5em;
  height: 2em;
  padding-right: 1.5rem;
  position: relative;
  bottom: 0.5em;
}
.navbar a {
  text-decoration: none;
  font-family: "Ubuntu";
  font-size: 1rem;
  color: white;
}
.navbar_links--container {
  width: 25em;
  display: flex;
  justify-content: space-between;
  margin-right: 2em;
}
.navbar_login:hover {
  text-decoration: underline;
}
.navbar_login--container {
  width: 12em;
  display: flex;
  justify-content: space-between;
}
.navbar_login--container a {
  padding: 1em 1em 0 0;
  line-height: 0;
}
.navbar_sub {
  height: 1.75em;
}
.navbar_sub--content {
  top: 4.6em;
  display: none;
  flex-direction: column;
  width: 5.5em;
  position: absolute;
  background-color: #F6F6F6;
  padding: 1em;
  border-radius: 0.185rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}
.navbar_sub--content a {
  color: #25252d;
  padding-bottom: 0.3rem;
  font-size: 0.75rem;
}
.navbar_sub:hover .navbar_sub--content {
  display: flex;
}
.navbar_sub:hover .navbar_sub--btn::after {
  transform: rotate(180deg);
}
.navbar_sub:hover .navbar_sub--btn {
  text-decoration: underline;
}
.navbar_sub--btn {
  line-height: 0.1em;
}
.navbar_sub--btn::after {
  background-image: url("/images/icon-arrow-light.svg");
  position: absolute;
  top: 2.9em;
  background-size: 0.5em 0.4rem;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
}
.navbar_link:hover {
  font-weight: 600;
}

/***************
  Body Styles
****************/
.section_heading, .section_subheading, .section_heading--light {
  font-family: "Overpass";
  color: #1f3f5b;
}
.section_heading {
  font-size: 2.25rem;
  margin-top: 4em;
  margin-bottom: 2em;
}
.section_subheading {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.section_paragraph, .section_paragraph--light {
  font-family: "Overpass";
  font-size: 16px;
  line-height: 1.5em;
}
.section_paragraph {
  color: #4b5862;
}
.section_paragraph:last-of-type {
  margin-bottom: 9em;
}
.section_heading--light, .section_paragraph--light {
  color: white;
}
.section_heading--light {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  margin-top: 2.75em;
}
.section_paragraph--light {
  margin-top: 0;
  font-weight: 400;
}
.section--dark {
  background-image: url("/images/bg-pattern-circles.svg"), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-size: 70%, 100%;
  background-position: -12.5rem -32em, 0 0;
  height: 20em;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  margin-bottom: 4rem;
}

/*  Images  */
.img_editor {
  width: 46em;
  height: 43em;
  position: relative;
  margin-bottom: 2em;
  right: -9em;
  transform: translateY(-11rem);
  z-index: -1;
}
.img_editor--container {
  margin-left: 0.5em;
  padding: 0;
  width: 1em;
  height: 8rem;
}

.img_phone {
  width: 28em;
  height: 28em;
  margin-right: 1rem;
  position: relative;
  bottom: 3.1em;
  left: -2em;
}

.img_laptop {
  width: 50em;
  height: 44em;
  margin-right: 2rem;
  transform: translateX(-24.5em);
}
.img_laptop--container {
  margin-right: 9.5em;
  width: 18rem;
}

/***************
  Footer Styles
****************/
.footer {
  background: #25252d;
  border-top-right-radius: 3rem;
  margin-top: 4.5rem;
  padding: 2rem 0;
}
.footer_logo {
  width: 3.45rem;
  height: 1.25rem;
  transform: translateY(0.75rem);
}
.footer_heading, .footer_link {
  font-family: "Ubuntu";
  color: #c8c8cb;
  font-size: 0.6rem;
}
.footer_heading {
  color: white;
  padding-bottom: 0.75rem;
}
.footer_link {
  padding-bottom: 0.6rem;
  text-decoration: none;
}
.footer_link:hover {
  text-decoration: underline;
}
.footer_container {
  justify-content: space-between;
}
.footer_col {
  width: 20%;
}

/*  Media Queries  */
@media screen and (max-width: 500px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
