/***************
    Variables
****************/

/*  Colors  */

$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);

$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-grayish-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%);

$orangish-red: hsl(13, 100%, 72%);
$red: hsl(353, 100%, 62%);

$dark-gray-blue: hsl(237, 17%, 21%);
$desaturated-blue: hsl(237, 23%, 32%);

/*  Gradients  */

// linear-gradient(to right, $orangish-red , $red)
// linear-gradient(to right, $dark-gray-blue , $desaturated-blue)

/*  Typography  */

$overpass: 'Overpass';
$ubuntu: 'Ubuntu';

/*  Utility Classes  */

.container{
    margin: 0 5.1rem 1.1rem 5.1rem;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.center{
    text-align: center;
}

.clip{
    overflow: hidden;
}

.w-5{
    width: clamp(45%, 50%, 55%);
}

.m-0{
    margin: 0;
}

.pt-4{
    padding-top: 6rem;
}

.mobile{
    display: none;
}

.flow{
    flex-flow: wrap;
}

/***************
  Global Styles
****************/

body{
    all: unset;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #F6F6F6;
    overflow-x: hidden;
}

/***************
  Components
****************/

/*  Buttons  */

.btn{
    background-color: $white;
    color: $light-red;  

    &, &--outline{
        border-radius: 1rem;
        width: 4.5rem;
        padding: .4rem 0;
        font-size: .55rem;
        text-align: center;
        font-weight: 600;
        font-family: $ubuntu;
    }

    &:hover{
        cursor: pointer;
        background-color: $very-light-red;
        color: $white;
    }

    &--outline{
        border: 1px solid $white;
        color: $white;  
        margin-left: .5rem;

        &:hover{
            cursor: pointer;
            background-color: $white;
            color: $very-light-red;
        }
    }
}


/***************
  Header Styles
****************/

.cta{
    background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(to right, $orangish-red , $red);
    background-size: 205%;
    background-position: -11rem -41rem;
    border-bottom-left-radius: 3rem;
    padding-bottom: 4rem;

    &_heading, &_subheading{
        font-family: $overpass;
        color: $white;
        text-align: center;
    }

    &_heading{
        margin-bottom: .5rem;
    }

    &_subheading{
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-weight: 300;
        font-size: .65rem;
    }

    &_btn--container{
        display: flex;
        justify-content: center;
    }
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.65rem;
    margin-bottom: 4rem;

    &_logo{
        width: 3.45rem;
        height: 1.25rem;
        padding-right: 1.5rem;
    }

    & a{
        text-decoration: none;
        font-family: $ubuntu;
        font-size: .55rem;
        color: $white;
    }

    &_links--container{
        width: 15rem;
        display: flex;
        justify-content: space-between;
    }

    &_login:hover{
        text-decoration: underline;
    }

    &_login--container{
        width: 6.5rem;
        display: flex;
        justify-content: space-between;

        & a{
            padding-top: .65rem;
            line-height: 0;
        }
    }

    &_sub{
        height: 1.5rem;
        &--content{
            top: 3.20rem;
            display: none;
            flex-direction: column;
            width: 4rem;
            position: absolute;
            background-color: #F6F6F6;
            padding: .75rem;
            border-radius: .185rem;
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
            & a{
                color: $very-dark-black-blue;
                padding-bottom: .3rem;
            }
        }

        &:hover &--content{
            display: flex;
        }

        &:hover &--btn::after{
            transform: rotate(180deg);
        }

        &:hover &--btn{
            text-decoration: underline;
        }

        &--btn{
            line-height: .1rem;
            &::after{
                background-image: url("/images/icon-arrow-light.svg");
                position:absolute;
                top: 1.95rem;
                background-size: .3rem .2rem;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                width: .75rem;
                height: .75rem;
                content: "";
            }
        }
    }

    &_link:hover{
        font-weight: 600;
    }
}

/***************
  Body Styles
****************/

.section{
    &_heading, &_subheading, &_heading--light{
        font-family: $overpass;
        color: $very-dark-blue;
    }

    &_heading{
        font-size: 1.25rem;
        margin-top: 5rem;
        margin-bottom: 2.5rem;
    }

    &_subheading{
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    &_paragraph, &_paragraph--light{
        font-family: $overpass;
        font-size: .6rem;
        line-height: 1rem;
    }

    &_paragraph{
        color: $very-dark-grayish-blue;
    }

    &_paragraph:last-of-type{
        margin-bottom: 7.75rem;
    }

    &_heading--light, &_paragraph--light{
        color: $white;
    }

    &_heading--light{
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 3.5rem;
    }

    &_paragraph--light{
        margin-top: 0;
        font-weight: 400;
    }

    &--dark{
        background-image: url("/images/bg-pattern-circles.svg"),linear-gradient(to right, $dark-gray-blue , $desaturated-blue);
        background-repeat: no-repeat;
        background-size: 70%, 200%, 100%;
        background-position: -8rem bottom;
        height: 13rem;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        margin-bottom: 4rem;
    }
}

/*  Images  */

.img_editor{
    width: 29rem;
    height: 29rem;
    margin-left: 0;
    position: absolute;
    right: -9rem;
    bottom: -12rem;
    z-index: -1;
}

.img_phone{
    width: 18.5rem;
    height: 18.5rem;
    margin-right: 1rem;
    position: relative;
    bottom: 2.15rem;
    left: -1.1rem;
}

.img_laptop{
    width: 35rem;
    height: 29rem;
    margin-right: 0;
    position: relative;
    left: -15rem;
}

/***************
  Footer Styles
****************/

.footer{

    background: $very-dark-black-blue;
    border-top-right-radius: 3rem;
    margin-top: 4.5rem;
    padding: 2rem 0;

    &_logo{
        width: 3.45rem;
        height: 1.25rem;
        transform: translateY(.75rem);
    }

    &_heading, &_link{
        font-family: $ubuntu;
        color: $grayish-blue;
        font-size: .6rem;
    }

    &_heading{
        color: $white;
        padding-bottom: .75rem;
    }

    &_link{
        padding-bottom: .6rem;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    &_container{
        justify-content: space-between;
    }

    &_col{
        width: 20%;
    }
}

/*  Media Queries  */

@media screen and (max-width: 500px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }
} 